<!doctype html>
<html lang="fr_CH" class="h-100">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Brassmaster Flash API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
  <style>
    .table-header th {
      border-top: 0;
      background-color: #e61e41;
      color: white;
    }

    ul {
      padding: 0 0 0 1em;
    }
  </style>
<body>
  <div class="container my-4">
    <div class="row">
      <div class="col-2"><a href="/concerts" class="btn btn-danger">←</a></div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <hr>
      <h2 class="text-md-center">{{ event.title }}</h2>
      <hr>
        <div class="row">
            
            <div class="col-md-6 text-md-right"><strong>Ville</strong></div>
            <div class="col-md-6"><p>{{ event.city }}</p></div>
            {% if event.address %}
              <div class="col-md-6 text-md-right"><strong>Adresse</strong></div>
              <div class="col-md-6"><p>{{ event.address }}</p></div>
            {% endif %}
            {% if event.documents %}
              <div class="col-md-6 text-md-right"><strong>Documents</strong></div>
              <div class="col-md-6"><ul>
                {% for document in event.documents %}
                  <li><a href="{{document.url}}">{{document.filename}}</a></li>
                {% endfor %}
              </ul></div>
            {% endif %}
            <div class="col-md-6 text-md-right"><strong>Début</strong></div>
            <div class="col-md-6"><p>{{ event.start }}</p></div>
            <div class="col-md-6 text-md-right"><strong>Fin</strong></div>
            <div class="col-md-6"><p>{{ event.end }}</p></div>
            {% if event.informations %}
              <div class="col-md-6 text-md-right"><strong>Informations</strong></div>
              <div class="col-md-6"><p>{{ event.informations|nl2br }}</p></div>
            {% endif %}
            {% if event.informations %}
              <div class="col-md-6 text-md-right"><strong>Commentaires internes</strong></div>
              <div class="col-md-6"><p>{{ event.commentaires|nl2br }}</p></div>
            {% endif %}
        </div>
        <hr>
        <h3>Effectifs</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="alert alert-success">
              <h4>Présent 🔥</h4>
              <table>
                {% for registre, musiciens in event.effectifs|sort if registre != 'Absents' %}
                  {% for musicien in musiciens %}
                    <tr>
                      <td>
                        <li><strong>{{musicien.Nom }}</strong>, {{ registre }}</li>
                      </td>
                      <td>
                        {% if musicien.Regime %}<small class="ml-2">({{ musicien.Regime }})</small>{% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <div class="alert alert-danger">
              <h4>Attente de réponse ⚠</h4>
              {% for musicien in event.nonRepondu %}
                <li>{{musicien}}</li>
              {% endfor %}
            </div>
            <div class="alert alert-warning">
              <h4>Absents 😕</h4>
              {% for musicien in event.effectifs['Absents'] %}
                <li>{{ musicien.Nom }}</li>
              {% endfor %}
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info">
          <h3>Mailing</h3>
          <small>Pour faire un copier/coller</small>
          {% set mails = [] %}
          {% for key, registre in event.effectifs %}
            {% if key != "Absents" %}
              {% for musicien in registre %}
                {% set mails = mails|merge([musicien.Mail]) %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          
          <textarea height="4" class="control-form d-block w-100" onclick="this.select()">{% for mail in mails %}{{ mail }}{{ loop.last ? '' : ', ' }}{% endfor %}</textarea>
        </div>
      </div>
    </div>
  </div>
</body>

</html>