<!doctype html>
<html lang="fr_CH" class="h-100">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Brassmaster Flash API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <style>
    .table-header th {
      position: sticky;
      top: 0;
      z-index: 10;
      border-top: 0;
      background-color: #e61e41;
      color: white;
    }

    .b-l {
      border-left: 2px solid #e61e41;
    }

    .b-l-light {
      border-left: 1px solid #eee;
    }

    .clickable-row:hover {
      cursor: pointer;
      background: #eee;
    }
    .table td {
      font-size: 0.75em;
    }

    ul {
      padding: 0 0 0 1em;
    }

    .btn-sm {
      font-size: 1em;
    }
  </style>
  <script>
    $(document).ready( function () {
      $('#table').DataTable({
          responsive: {
            details: false
          }
      });
    });
  </script>
</head>

<body>

  <div class="container-fluid my-4">
    <div class="row">
      <div class="col-2"><a href="/" class="btn btn-danger">←</a></div>
      <div class="col-8 text-center"><h1>Brassmaster Flash: Musiciens</h1></div>
    </div>
      <div class="row">
          <div class="col-md-12">
            <table id="table" class="display responsive no-wrap">
              <thead>
                <tr class="table-header">
                  <th>Nom</th>
                  <th>Instruments</th>
                  <th>Téléphone</th>
                  <th>E-Mail</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for musicien in musiciens %}
                  <tr class="clickable-row" onclick="window.location='/musiciens/{{ musicien.id }}';">
                    <td>{{ musicien.nom }}</td>
                    <td>  
                      {% for instrument in musicien.instruments %}
                        {{ instrument}}<br />
                      {% endfor %}
                    </td>
                    <td><a href="tel:{{ musicien.phone }}">{{ musicien.phone }}</a> </td>
                    <td><a href="mailto:{{ musicien.email }}">{{ musicien.email }}</a> </td>
                    <td><a class="btn btn-sm btn-danger" href="/musiciens/{{ musicien.id }}">Détails</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            
          </div>
      </div>
  </div>
</body>

</html>