{% extends "parts/base.html.twig" %}

{% block content %}
  <div class="container">
    <h3>{{ musicien.nom }}</h3>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <tr>
            <th>Instrument</th>
            <td>
              {{ musicien.instrument }}<br/>
            </td>
          </tr>
          <tr>
            <th>Téléphone</th>
            <td>
              <a href="tel:{{ musicien.phone }}">{{ musicien.phone }}</a>
            </td>
          </tr>
          <tr>
            <th>E-Mail</th>
            <td>
              <a href="mailto:{{ musicien.email }}">{{ musicien.email }}</a>
            </td>
          </tr>
        </td>
      </tr>
    </table>
    <table data-tablesaw-sortable class="table tablesaw striped">
      <thead class="table-header">
        <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Date</th>
        <th data-tablesaw-sortable-col>Titre</th>
        <th data-tablesaw-sortable-col>Statut.</th>
        <th></th>
      </thead>
      <h4>Concerts</h4>
      {% for gig in musicien.gigs %}
        <tr class="list-filterable">
          <td>
            {{ gig.date }}
          </td>
          <td>
            <a href="/concerts/{{ gig.id }}">{{ gig.titre }}</a>
          </td>
          <td>{{ gig.statut }}</td>
          <td>
            <a class="waves-effect waves-light btn-floating btn-small" href="/concerts/{{ gig.id }}">
              <i class="material-icons left">view_headline</i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div></div>{% endblock %}
