{% extends "parts/base.html.twig" %}

{% block content %}
  <div class="row">
    <div class="input-field col s4">
      <select multiple data-filter="statut">
        <option value="" disabled>Sélectionnez le statut</option>
        <option value="Titulaire">Titulaire</option>
        <option value="Actif">Actif</option>
        <option value="Remplaçant">Remplaçant</option>
        <option value="Passif">Passif</option>
      </select>
      <label>Statut</label>
    </div>

  </div>
  <table data-tablesaw-sortable class="tablesaw striped">
    <thead class="table-header black white-text">
      <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Nom</th>
      <th data-tablesaw-sortable-col>Statut</th>
      <th data-tablesaw-sortable-col>Instruments</th>
      <th data-tablesaw-sortable-col>Téléphone</th>
      <th data-tablesaw-sortable-col>E-Mail</th>
      <th></th>
    </thead>
    {% for musicien in musiciens %}
      <tr class="clickable-row" data-statut="{{ musicien.statut }}">
        <td>{{ musicien.nom }}</td>
        <td>{{ musicien.statut }}</td>
        <td>
          {% for instrument in musicien.instruments %}
            {{ instrument}}<br/>
          {% endfor %}
        </td>
        <td>
          <a href="tel:{{ musicien.phone }}">{{ musicien.phone }}</a>
        </td>
        <td>
          <a href="mailto:{{ musicien.email }}">{{ musicien.email }}</a>
        </td>
        <td>
          <a class="waves-effect waves-light btn" href="/musiciens/{{ musicien.id }}">Détails</a>
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
