{% extends "parts/base.html.twig" %}

{% block content %}
  <div class="container">
    <br>
    <div class="row">
      <div class="input-field col s6 m4">
        <select data-filter="statut">
          <option value=""></option>
          {% for statut in statuts %}
            <option value="{{statut}}" {% if statut == 'Titulaire' %} selected {% endif %}>{{statut}}</option>
          {% endfor %}
        </select>
        <label>Statut</label>
      </div>

      <div class="input-field col s6 m4">
        <select data-filter="instrument">
          <option value=""></option>
          {% for instrument in instruments %}
            <option value="{{instrument}}">{{instrument}}</option>
          {% endfor %}
        </select>
        <label>Instrument</label>
      </div>
    </div>
    <div class="card-panel grey lighten-3">
      <table data-tablesaw-sortable class="table tablesaw">
        <thead class="table-header">
          <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col>Nom</th>
          <th data-tablesaw-sortable-col>Statut</th>
          <th data-tablesaw-sortable-col>Instr.</th>
          <th data-tablesaw-sortable-col>Téléphone</th>
          <th data-tablesaw-sortable-col>E-Mail</th>
          <th></th>
        </thead>
        {% for musicien in musiciens %}
          <tr class="list-filterable {% if musicien.fields.Statut != 'Titulaire' %}hide{% endif %}" data-statut="{{ musicien.fields.Statut }}" data-instrument="{{ musicien.fields.Instrument }}">
            <td>
              <a href="/musiciens/{{ musicien.id }}">{{ musicien.fields.Nom }}</a>
            </td>
            <td>{{ musicien.fields.Statut }}</td>
            <td>
              {{ musicien.fields.Instrument }}<br/>
            </td>
            <td>
              <a href="tel:{{ musicien.fields.Telephone }}">{{ musicien.fields.Telephone }}</a>
            </td>
            <td>
              <a href="mailto:{{ musicien.fields['E-Mail'] }}">{{ musicien.fields['E-Mail'] }}</a>
            </td>
            <td>
              <a class="waves-effect waves-light btn-floating btn-small" href="/musiciens/{{ musicien.id }}">
                <i class="material-icons left">view_headline</i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
